/*banner*/
#banner{
    /*width:1911px;*/
    width:100%;
    height:455px;
    overflow:hidden;
    position:relative;
}
/*滑动广告*/
#slider img{
    width:100%;
}
#slider li div{
    width:100%;
    height:455px;
    background:url("../img/ad-01.jpg") no-repeat center;
}
#slider li:nth-child(2) div{
    background-image: url("../img/ad-02.jpg");
}
#slider li:nth-child(3) div{
    background-image: url("../img/ad-03.jpg");
}
#slider li:nth-child(4) div{
    background-image: url("../img/ad-04.jpg");
}
#index {
    position:absolute;
    left:45%;
    bottom:20px;
    width:150px;
    height:30px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    padding:5px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin:0 auto;
}
#index li{
    float:left;
    width:20px;
    height:20px;
    line-height:20px;
    background:#000;
    border-radius: 50%;
    margin-right:10px;
    opacity: 0.6;
    color:#fff;
    cursor: pointer;
}
#index li:last-child{
    margin-right:0;
}
#index li:hover,#index li.hover{
    background:#EC124A;
}
/*主体部分*/
/*广告*/
#ad_box{
    margin:20px 0;
}
#ad_box .ad_title{
    width:299px;
    height:320px;
    float:left;
    position:relative;
}
#ad_box .title_name{
    position:absolute;
    top:20px;
    left:20px;
    width:256px;
    height:176px;
    border:3px solid #fff;
    background:url("../img/bg_img.png");
    color:#fff;
    text-align: center;
    box-sizing: border-box;
}
.title_name h1{
    font-size:36px;
    margin:20px 0 10px 0;
    font-weight: normal;
}
.title_name h2{
    font-size:20px;
    font-weight: normal;
}
.ad_list>li{
    float:left;
    position: relative;
    width:224px;
    height:320px;
    overflow: hidden;
}
.ad_list li img:first-child{
    width:224px;
    height:318px;
}
.ad_list .title_img{
    position:absolute;
    bottom:-30px;
    left:0;
    transition:bottom 0.2s linear ;
}
.ad_list>li:hover .title_img{
    bottom:0;
}
/*限时特卖*/
#limit_box {
    margin-top:20px;
}
#limit_box .limit_title{
    float:left;
    width:221px;
    height:400px;
    position:relative;
}
.limit_title>div{
    position:absolute;
    top:30px;
    left:25px;
    width:170px;
    height:115px;
    border:3px solid #fff;
    color:#fff;
    text-align: center;
    box-sizing: border-box;
    overflow: visible;

}
.limit_title h1{
    font-size:26px;
    margin-top:20px;
    font-weight: normal;
}
.limit_title h2{
    font-size:18px;
    margin:10px 0;
    font-weight: normal;
}
.limit_title h3{
    padding:0 5px;
    width:125px;
    font-weight: normal;
    margin-left:12px;
    background-color:#E52D50 ;

}
/*限时特卖详情*/
.limit_list{
    height:400px;
    border-bottom:1px solid #ddd;
}
.limit_list li{
    float:left;
    width:245px;
    height:200px;
    border-top:1px solid #DDD;
    border-right:1px solid #ddd;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    position: relative;
}
.limit_list li img{
    width:150px;
    height:150px;
}
.limit_list li.limit_r{
    width:244px;
    height:400px;
    padding:0;
    top:-200px;
}
.limit_list li.limit_r img{
    width:243px;
    height:398px;
}
.limit_list li b{
    font-weight:normal;
    font-size:14px;
}
.limit_list li p{
    line-height:30px;
    width:200px;
    height:30px;
    font-size:14px;
    background-color: rgba(0,0,0,.4);
    border-radius: 20px;
    color:#fff;
    position:absolute;
    bottom:10px;
    left:22px;
}
.limit_list li i{
    font-size:20px;
    vertical-align: middle;
}
/*品牌展示*/
#brand_box{
    margin-top:20px;
    position: relative;
}

/*品牌切换*/
#brand_box .brand_toggle{
    border-bottom: 3px solid #000;
    height:30px;
    position:relative;
}
.brand_toggle>ul{
    background-color: #fff;
    padding:0 30px;
    position:absolute;
    top:15px;
    left:420px;
}
.brand_toggle li{
    float:left;
    width:80px;
    height:30px;
    margin:0 10px;
    text-align: center;
    line-height:30px;
    position:relative;
}
.brand_toggle li a{
    font-size:14px;
    color:#000;
}
.brand_toggle li.active{
    background-color: #000;
}
.brand_toggle li.active a{
    color:#fff;
}
.brand_toggle li.active i{
    background-color: #fff;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    border-top:10px solid #000;
    position:absolute;
    top:30px;
    left:30px;
}
/*品牌列表*/
.brand_list{
    padding:0 10px;
    /*height:180px;*/
    /*overflow: hidden;*/
}
/*左：品牌logo*/
.brand_list .brand_logo{
    width:960px;
    /*position: absolute;*/
}
.brand_logo{
    position:relative;
    top:-134px;
    left:0;
}
.brand_ad{
    position:relative;
    top:-134px;
    left:0;
}
.brand_logo li{
    float:left;
    width:170px;
    height:120px;
    border:1px solid #ddd;
    box-sizing: border-box;
    text-align: center;
    margin:20px 20px 0 0;
}
.brand_logo li span{
    display:block;
    border-top:1px solid #ddd;
    height:37px;
    line-height:37px;
    font-size:14px;
}
/*右：滑动广告*/
.brand_ad{
    margin-top:20px;
    height:280px;
    width:219px;
    overflow:hidden;
    position:relative;
    text-align: center;
}
.brand_ad_img{
    position:absolute;
    top: 0;  left: 0;
}
.brand_ad_img li{
    width:219px;
    height:280px;
    float:left;
}
.brand_ad_index{
    position:absolute;
    bottom:10px;
    left:50px;
    width:100px;
    height:20px;
    background:rgba(255,255,255,.8);
    border-radius: 20px;
    padding:5px 20px;
    box-sizing: border-box;
}
.brand_ad_index li{
    float:left;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #999;
    margin:0 5px;
}
.brand_ad_index li.hover{
    background:#DF115E;
}
/*按钮*/
#brand_box>a{
    position:absolute;
    top:45%;
    width:30px;
    height:50px;
    background:url("../img/bg_img.png");
    text-align: center;
    font-size: 30px;
    color:#fff;
    display:none;
    font-weight: bold;
}
#brand_box> .prev{
    left:0;
}
#brand_box>.next{
    right:0;
}
#brand_box:hover>a{
    display:block;
}
/*第一楼*/
/*头部*/
.floor>header {
    height:40px;
    line-height: 40px;
    border-bottom: 3px solid #000;
    padding-right:5px;
}
.floor>header p{
    float:left;
    font-size: 18px;
    color:#DF115E;
}
.floor header span{
    background-color: #DF115E;
    color:#fff;
    margin-right:5px;
    padding:3px;
}
.floor .link li{
    float:left;
    color: #000000;
    height:30px;
    padding-top:5px;
}
.floor .link b{
    display:inline-block;
    height:13px;
    border-right:1px solid #000;
    margin:0 8px;
    vertical-align: middle;
}
/*主体部分*/
.floor section{
    height:450px;
}
/*滑动广告*/
.pro_slide{
    float:left;
    position: relative;
}
.pro_img{
    height:422px;
    width:599px;
    overflow: hidden;
}
.pro_img li{
    float:left;
}
.pro_index{
    position:absolute;
    bottom:10px;
    left:249px;
    width:100px;
    height:20px;
    background: rgba(0,0,0,.5);

    padding-left:17px;
    border-radius: 30px;
    box-sizing: border-box;
}
.pro_index li{
    float: left;
    width:10px;
    height:10px;
    background-color:#fff;
    border-radius: 50%;
    margin:5px;
}
.pro_index li.on{
    background-color: #DF115E;
}
/*产品列表*/
.pro_list{
    float:left;
    width:601px;
    height:422px;
}
.pro_list li{
    float:left;
    border-right:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width:200px;
    height:211px;
    padding:10px;
    text-align: center;
    box-sizing: border-box;
}
.pro_list li p{
    margin:8px 0;
    min-height:30px;
    line-height:15px;
    overflow: hidden;
}
.pro_list li p a{
    color:#333333;
}
.pro_list li div>b{
    float:left;
    color:#DF115E;
    font-size:16px;
}
.pro_list li div>span {
    float:right;
    margin-top:3px;
}
.pro_list li div span>b{
    font-size:12px;
    color:#DF115E;
}
/*猜你喜欢*/
#like{
    margin-top:20px;
}
.like_title{
    height:40px;
    border-bottom:1px solid #ddd;
    position: relative;
}
.like_title span{
    font-size:24px ;
    color:#333;
    display:inline-block;
    text-align: center;
    height:39px;
    width:120px;
    line-height:39px;
    border-bottom:3px solid #DF115E;
    position: absolute;
    left:540px;
    bottom:-1px;
}
.like_list{
    margin-top:15px;
    padding-left:15px;
}
.like_list li{
    float:left;
    width:281px;
    height:320px;
    border:1px solid #ddd;
    margin:0 15px 20px 0;
    padding:10px;
    box-sizing: border-box;
    text-align: center;
}
.like_list li:hover{
    border:1px solid #DF115E;
}
.like_list li p{
    margin:8px 0;
    line-height: 20px;
    min-height: 40px;
    font-size:14px;
    text-align: left;
}
.like_list li p>a{
    color:#333;
}
.like_list li>div>b{
    float:left;
    color: #DF115E;
    font-size: 18px;
    font-weight: normal;
}
.like_list li>div>span{
    float:right;
    margin-top:4px;
}
.like_list li>div>span>b{
    color: #DF115E;
    font-weight: normal;
}

/*左侧悬浮菜单*/
#suspension{
    position:fixed;
    left:30px;
    top:150px;
    width:122px;
    z-index: 200;
    display:none;
}
.suspension_top{
    width:121px;
    height:80px;
    background: url("../img/suspension_01.png");
}
.suspension_list{
    width:91px;
    height:198px;
    position:relative;
    left:16px;
    background:linear-gradient(to bottom,#FFCC7A,#DF7B04);
    box-shadow: 0 1px 1px 0 #A8113F;
}
.suspension_list ul{
    position:relative;
    left:-16px;
}
.suspension_list li{
    width:122px;
    height:48px;
    line-height:41px;
    padding-left:32px;
    background: url("../img/suspension_02.png") no-repeat;
}
.suspension_list li:hover{
    background:url("../img/suspension_03.png") no-repeat;
}
.suspension_list li a{
    font-size: 16px;
    color:#fff;
}

