.login_box{
    width:1200px;
    height:840px;
    margin:0 auto;
}
/*logo+电话*/
.phone{
    height:77px;
    line-height: 77px;
    display:inline-block;
    background: url("../img/x-d_03.png") no-repeat left;
    padding-left:20px;
    font-size:16px;
    margin-left:20px;
    margin-bottom:15px;
}
.phone b{
    font-size: 24px;
    color:#FB550C;
    font-family:Impact;
}
/*主体*/
section{
    margin-top:50px;
    border-bottom: 1px solid #ddd;
}
section img{
    /*width:611px;*/
}
/*登录框*/
form{
    /*margin-top:20px;*/
    float:right;
    width:455px;
    border-radius: 5px;
    border:1px solid #ddd;
    box-shadow: 0 0 3px 0 #ddd;
    font-size:14px;
    color:#000;
    padding:0 30px;
    box-sizing: border-box;
    margin-bottom:20px;
}
table{
    margin:20px auto;
}

table p{
    font-size: 24px;
    margin-bottom:20px;
    padding-right:7px;
}
thead span{
    float:right;
    font-size:14px;
    padding-top:5px;
}

a{
    color:#FB550C;
}
a:hover{
    color:#FB550C;
}
table .uName,.uPwd,.uPwd_repeat{
    width:305px;
    height:35px;
    font-size:15px;
    padding-right:20px;
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
    margin-left:5px;
    box-sizing: border-box;
}
.uName{
    background: url("../img/i_u.png") no-repeat 275px center;
}
.uPwd{
    background: url("../img/i_pwd.png") no-repeat 275px center;
}
.uPwd_repeat{
    background: url("../img/i_pwd.png") no-repeat 275px center;
}
table tr td:first-child div{
    width:70px;
}
table [type="checkbox"]{
    margin:0;
    vertical-align: middle;
    height:16px;
}
.code{
    width:150px;
    height:31px;
    border:1px solid #ccc;
    margin-left:5px;
}
.input_tip {
    height:18px;
    color:#666;
    font-size:11px;
    visibility: hidden;
}
.tip_txt{
    padding-left:10px;
}

i{
    display:inline-block;
    width:16px;
    height: 16px;
    background:url("../img/icon.png") no-repeat;
    background-position:-2px -116px;
    vertical-align: text-top;
    margin-right:5px;
}
#btnRegister{
    width:305px;
    height:40px;
    background-color: #FB550C;
    color:#fff;
    text-align: center;
    font-size:16px;
    line-height: 40px;
    border:0;
    margin-left:5px;
}
table .txt{
    font-size: 12px;
}
table .forget{
    float:right;
    font-size:12px;
    color:#FB550C;
}
input{
    padding-left:3px;
}
input:focus{
    outline:0;
}
span .login{
    position:relative;
    top:-1px;
    left:0;
    text-decoration: underline;
}
table  tbody .warning span{
    color:#FF4A4A;!important;
}
table tbody .warning i{
    background-position: -19px -116px;
}
table  tbody input.border{
    border-color:#FF4A4A ;
}
table tbody .visible{
    visibility:visible
}
table tbody .success i{
    background-position:-2px -133px;
}
.success span{
    color:#90B71B;
}
table tbody .weak i{
    background-position: -19px -151px;
}
table tbody .middle i{
    background-position: -36px -132px ;
}
table tbody .strong i{
    background-position: -36px -151px;
}
/*底部*/
footer{
    margin-top:20px;
    text-align: center;
    color:#CAB9C4;
}